
body {
    background-color: #dedede;
}

html {
	scroll-behavior: smooth;
}

h1 {
    text-align: center;
    font-family:Arial, sans-serif;
    font-size: 32px;
}

p {
   font-size: 16px;
   font-family:Arial, sans-serif;
}

a {
	color: #1111DD;
}


.grid {
  display: grid;
  margin: 5%;
  grid-template-columns: 1fr;
  justify-content: space-evenly;
  row-gap: 10px;
  column-gap: 10px;
  grid-auto-rows: 300px;
  background: #dedede;
}

img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border: 3px solid #000000;
	border-radius: 12px;
}

figcaption {
	display: inline-block;
	background: #dedede;
	color: #000000;
	position: relative;
	transform: translate(0, -50%);
	height: 2em;
	text-align: center;
	font-size: 1.25em;
	width: 100%;
	border: 3px solid #000000;
}


@media screen and (min-width: 772px)
{
	.grid{
		grid-template-columns: 1fr 1fr;
	}
	
	img{
		border-radius: 50%;
	}
	
	.grid figure:last-child {
		grid-column: 1 / span 2;
	}
}

@media screen and (min-width:992px)
{
	.grid figure:nth-child(3n){
		grid-column: 1 / span 2; /*start in first column and span 2 columns*/
	}
	
	img{
		border-radius: 0;
	}
}

@media (prefers-reduced-motion){
	html{
		scroll-behavior: auto;
	}
}

/*
@media (prefers-color-scheme: dark) {
	body{
		background: #000000;
	}
	
	figcaption {
	background: #000000;
	color: #dedede;
	}
	
	p, h1 {
		color: #dedede;
	}
	
	a {
		color: #EEEE33;
	}
	
}












